<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/mystyle.css">
        
        <title>Welcome to</title>
    </head>
    <body>
        <header>
            <div class="menu-bar">
                <div class="logo">
                    <img src="/images/mylogo.png">
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/learnings">Learn</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a class="fas fa-caret-down">About Us</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="#vision"> Vision & Mission </a></li>
                                <li><a href="h2.html"> Achievemts </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) { %>
                      <li id="login" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li id="register" class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                      </li>
                    <% } else { %>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="fas fa-user"></i>
                          <%= currentUser.username %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/users/<%= currentUser._id %>">Profile</a>
                          <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                      </li>
                    <% } %>
                  </ul>
            </div>
            
        </header>
</body>
