<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Herbal Beauty Products</title>
</head>
<body>
	<center><u><h1 class="heading">Herbal Beauty Products</h1></u></center>
	<br><br>
	<div class="container">
		<div class="col-md-8">
			<center><p>The beauty business is one which is constantly evolving and success will depend on innovations and keeping up with new trends.
The beauty and wellness industry in India is booming, with a tremendous potential for growth. In fact, it is said to be growing twice as fast as markets of the United States and Europe. India is also the second largest consumer market in the world. No wonder foreign companies have been targeting the Indian beauty market! 
 The compounded annual growth rate of the Beauty & Wellness business in India has been around 18%. Currently, the beauty business in India is not only booming, but is expected to treble in the next five years. A prominent feature is that it is herbal beauty care that has driven the growth of the beauty business in India. The “back to nature” and “total well being” trends sweeping the world have increased the demand for holistic systems, like herbal and Ayurvedic beauty care, not only in India, but worldwide.
</p></center>

			<br><br>

			<center><h1 class="heading">Training</h1></center>
			<br>
			<p>Duration :- 2 - 4 months</p>
			<br>
			<a href="https://kvk.icar.gov.in/"> Link for the Scheme :-</a>
		</div>

	</div>

</body>
</html>