<!Doctype Html>  
<Html>     
<Head>      
<Title>     

</Title>  
</Head>  
<Body>  
    <div class="welcome-text">
        <h1 style=" background-image: linear-gradient(to right,#06fffb,#9c10ff);;text-align:center;">Raise your Funds</h1>
        <h2 style="color:rgb(170, 39, 153);text-align:center;">Loans Under Govt Schemes</h2>
        <h4>The government of India has launched various loan schemes that aim to benefits Start-up enterprises, SMEs, MSMEs, as well as promotes the socio-economic growth of rural India, women entrepreneurs, educated youth, Small Scale Industries (SSIs), villages, people living in rural and urban areas, etc.<br><hr>
             <p style="color:rgb(170, 39, 153);text-align:left;" >Loan schemes initiated by the Government of India to help Start-up enterprises</p><hr>
             MUDRA loan scheme under Pradhan Mantri Mudra Yojana (PMMY)<br>
             Start-up India<br>
             Credit Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE<br>
             Atal Innovation Mission, Make in India<br>
             Trade-related Entrepreneurship Assistance and Development (TREAD), etc.</h4>
        <h3 style="color:rgb(170, 39, 153);text-align:left;">Loan schemes initiated by the Government of India to help Start-up enterprises</h3>
        <p><b><a href="https://www.paisabazaar.com/business-loan/mudra-loan/" >Pradhan Mantri Mudra Yojana (PMMY)</a></b> &nbsp;&nbsp;Mudra Yojana is a loan scheme initiated by the Government of India to offer loan amount up to Rs. 10 lakh for individuals and MSMEs to start their new business or for existing businesses </p>
        <p><b><a href="https://www.paisabazaar.com/business-loan/cgtmse-scheme/" > Credit Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE)</a></b>&nbsp;Credit Guarantee Funds Trust for Micro and Small Enterprises (CGTMSE) is a trust established by the Government of India, under the Ministry of Micro, Small and Medium Enterprise (MoMSME) and Small Industries</p>
        <p><b><a href="https://www.paisabazaar.com/business-loan/stand-up-india-scheme/" >Stand-up India</a></b>&nbsp;&emsp;&emsp;Stand-Up India Scheme provides funding to women entrepreneurs and people who come under the SC/ST category of the society.</p>
        <p><b><a href="https://www.paisabazaar.com/business-loan/atal-innovation-mission/" > Atal Innovation Mission</a></b>&nbsp;Atal Innovation Mission (AIM) is an initiative by Government of India to promote culture of entrepreneurship and innovation across the nation.</p>
</Body>  
</Html>  
