<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Agriculture</title>
</head>
<body style="background-image:url('https://media.istockphoto.com/photos/empty-wood-table-top-and-blurred-green-tree-and-vegetable-in-farms-picture-id1201567187?k=20&m=1201567187&s=612x612&w=0&h=fwx1YeDAN0xuMn-Wo8AqApqnZl5AibWN17tjPCMjHqw='); height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
	<center><u><h1 style="font-style: italic;font-weight: bolder;font-size:45px;" class="heading">Agriculture</h1></u></center>
	<br><br>
	<div class="container">
		<div class="col-md-8" style="font-style: italic;font-weight: bolder;">
			<strong><center><p>Economic Survey 2017-18 says that with growing rural to urban migration by men, there is ‘feminisation’ of the agriculture sector, with an increasing number of women in multiple roles as cultivators, entrepreneurs, and laborers. Globally, there is empirical evidence that women have a decisive role in ensuring food security and preserving local agro-biodiversity. Rural women are responsible for the integrated management and use of diverse natural resources to meet the daily household needs. This requires that women farmers should have enhanced access to resources like land, water, credit, technology and training which warrants critical analysis in the context of India. In addition, the entitlements of women farmers will be the key to improve agriculture productivity. The differential access of women to resources like land, credit, water, seeds and markets needs to be addressed.</p></center></strong>

			<br><br>

			<center><p>The course is a comprehensive look at many important topics such as:
				<br>
Designing and Implementing Business Models
<br>
Managing Wastage and Sustainability
<br>
Integrating Data Monitoring and Agritech
<br>
Distribution and Strategic Concerns
<br>
Improving Profitability 
<br>
Sourcing Produce and Materials
<br>
Case Studies and more
<br>
</p></center>
		</div>

	</div>

</body>
</html>