<%- include('./partials/header'); -%>
<%- include('./partials/errorMsg'); -%>
<!Doctype Html>  
<Html>     
<Head>      
<Title>     

</Title>  
</Head>  
<Body>  
    <div class="welcome-text">
        <h1 style=" background-image: linear-gradient(to right,#06fffb,#9c10ff);;text-align:center;">Raise your Funds</h1>
        <h2 style="color:rgb(170, 39, 153);text-align:center;">Angel Investors</h2>
        <h4>Individuals with surplus cash are known to be Angel investors and these individuals are interested in investing in new start-ups in India, as well as worldwide. The risk involved in these investments by Angel investors is more, as compared to loans offered by financial institutions, as Angel investors plan to invest for higher returns to profit. India’s popular Angel investors include Mumbai Angels, Indian Angel Network, and Hyderabad Angels. Start-up owners can directly get in touch with these investors for funding support.</h4>
        <p>Indian Angel Network (IAN) is a group of primarily Indian angel investors funding early-stage startups. The group had 450 members from 11 countries in 2017. The members include Ajai Chowdhry, Rajan Anandan, and Anand Ladsairya.  Indian Angel Network (IAN) announced the joint with Bangladesh Angels Network (BAN). The aim is to work together to source, cross-refer, and promote linkages in technology-enabled startups in India and Bangladesh to create an enabling environment for venture investing in both ecosystems.</p>
        <h3 style="color:rgb(170, 39, 153);text-align:left;">Refer Below Links to Know More About Angel Investors</h3>
        <p><b><a href="https://www.indianangelnetwork.com/" >Indian Angel Network</a></b> &nbsp;&nbsp;Indian Angel Network is a network of Angel investors keen to invest in early stage businesses which have potential to create disproportionate value. </p>
        <p><b><a href="https://www.investmentnetwork.in/" >Angel Investment</a></b>&nbsp;&emsp;&emsp;It bring together businesses looking for investment and investors with the capital,</p>
        <p><b><a href="https://hyderabadangels.in/" >Hyderabad Angels</a></b>&nbsp;&emsp;&emsp;Hyderabad Angels (HA) invests in promising early stage companies globally to create tangible as well as intangible value.</p>
        <h3 style="color:rgb(170, 39, 153);text-align:center;"> <a href="https://inc42.com/features/the-32-most-active-angel-investors-for-indian-startups/" >FURTHER REFERENCE</a></h3>
</Body>  
</Html>  
<%- include('./partials/footer'); -%>
