<%- include('./partials/header'); -%>
<%- include('./partials/errorMsg'); -%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Computer Knowledge</title>
</head>
<body>
	<center><u><h1 class="heading">Basic Computer Knowledge</h1></u></center>
	<br><br>
	<div class="container">
		<div class="col-md-8 computer">
			<center><p>Today, from the Internet and mobile phones to TV and broadcast radio, the rise of information and communications technologies (ICTs) has created a ‘global village’. With the issue of women entrepreneurship, it throws light on the significance of information and communication technology (ICT) in engaging women and business visionaries. We, as a nation, have taken initiatives to enhance this. And, it goes, without a doubt this move is to ensure how ICTs benefit women entrepreneurs and to take the concept of women empowerment far ahead, not just in India, but globally too. Our PM’s Digital India highlights this.
It is a matter of pride, today, that women are increasingly playing a bigger role in the development of the nation, right from the rural areas to the urban areas right up to the Parliament.
</p></center>

			<br><br>

			<center><h1 class="heading">Training</h1></center>
			<br>
			<center><p>Duration :- 3 - 4 months</p></center>
			<br>
			<a href="https://kvk.icar.gov.in/"> Link for the Scheme :-</a>
		</div>
	</div>
</body>
</html>
<%- include('./partials/footer'); -%>
