<%- include('./partials/header'); -%>
<%- include('./partials/errorMsg'); -%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clothes</title>
</head>
<body>
	<center><u><h1 class="heading">Clothes</h1></u></center>
	<br><br>
	<div class="container">
		<div class="col-md-8">
			<center><p>India’s apparel market will be worth $59.3 billion in 2022, making it the sixth largest in the world, comparable to the United Kingdom’s ($65 billion) and Germany’s ($63.1 billion), according to data from McKinsey’s FashionScope. The aggregate income of the addressable population (individuals with more than $9,500 in annual income) is expected to triple between now and 2025. The supply side of the industry is equally robust, and the growth of textile and apparel exports is expected to accelerate. According to a 2017 McKinsey survey, 41 percent of chief procurement officers expect to increase the share of their sourcing from India, where average labor costs are significantly lower than China’s and comparable to Vietnam’s. Raw materials (such as cotton, wool, silk, and jute) are highly available, which enables participation in the entire fashion value chain.
			</p></center>

			<br><br>

			<center><h1 class="heading">Training</h1></center>
			<br>
			<p>Duration :- 2 - 3 months</p>
			<br>
			<a href="https://kvk.icar.gov.in/"> Link for the Scheme :-</a>
		</div>

	</div>

</body>
</h