<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Handicraft & Jwellery</title>
</head>
<body style="background-image:url('https://prattya.com/wp-content/uploads/2021/12/1_7YxApDhxLhfmX4x_bKzZEQ.jpeg'); height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
	<center><u><h1 style="font-style: italic;font-weight: bolder;font-size:45px;" class="heading">Handicraft & Jwellery</h1></u></center>
	<br><br>
	<div class="container">
		<div class="col-md-8" style="font-style: italic;font-weight: bolder;font-size: 18px;">
			<center><p>Unplanned home-based artists portray an essential part of the working community. There is a huge amount of income-producing ventures are involved in the home-based area in which regularly women artisans are engaged. Textile, garment production, food processing, handicraft, coir industry, dairy, and chikan needlework are involved in these enterprises. Both in rural and urban regions, very slight importance is given to this disorganized division and the symbols of this quarter are the employed situations are dire, the wages are remarkably inferior and craftsmen face great problems and exploitations. Home-based technical product is one of the scarce organized, least maintained, and most dangerous. However, a large number of women artists are sunk in this quarter just because of a lack of individual stocks, like training and experience, non-availability of work chances, and regulating practices that control women’s versatility outside the home.</p></center>

			<br><br>

			<center><p>(i) Marketing Support & Services
				<br>
                       (ii) Skill Development In Handicraft Sector
                       <br>
                       (iii) Ambedkar Hastshilp Vikas Yojana (AHVY) 
                       <br>
                       (iv) Direct Benefit To Artisans
                       <br>
                       (v) Infrastructure And Technology Support
                       <br>
                       (vi) Research & Development Scheme
                       <br>
</p></center>
		</div>

	</div>

</body>
</html>