<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Herbal Beauty Products</title>
</head>
<body style="background-image:url('https://us.123rf.com/450wm/marctran/marctran1711/marctran171100002/89264202-cups-of-tea-on-wooden-table-background.jpg?ver=6'); height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
	<center><u><h1 style="font-style: italic;font-weight: bolder;font-size:45px;" class="heading">Herbal Beauty Products</h1></u></center>
	<br><br>
	<div class="container">
		<div class="col-md-8" style="font-style: italic;font-weight: bolder;font-size: 18px;">
			<center><p>The beauty business is one which is constantly evolving and success will depend on innovations and keeping up with new trends.
The beauty and wellness industry in India is booming, with a tremendous potential for growth. In fact, it is said to be growing twice as fast as markets of the United States and Europe. India is also the second largest consumer market in the world. No wonder foreign companies have been targeting the Indian beauty market! 
 The compounded annual growth rate of the Beauty & Wellness business in India has been around 18%. Currently, the beauty business in India is not only booming, but is expected to treble in the next five years. A prominent feature is that it is herbal beauty care that has driven the growth of the beauty business in India. The “back to nature” and “total well being” trends sweeping the world have increased the demand for holistic systems, like herbal and Ayurvedic beauty care, not only in India, but worldwide.
</p></center>

			<br><br>

			<center><p>Apart from theory, practical demonstrations will be shown for preparation of various herbal products.<br>
Skin Care:Preparation of varieties of face pack, facial bleach, herbal scrubs, skin oil, nutmeg oil and body wash
<br>
Hair Care:Preparation of dandruff pack, special hair oil for stimulating growth, aroma oil, Hair conditioner, Hair Wash and Henna paste<br>
Body Care:Special hair weakening powder (for women), Lehiyam for acidity
</p></center>
		</div>

	</div>

</body>
</html>