<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/mystyle.css">
        
        <title>Welcome to</title>
    </head>
    <body>
        <main>
            <section id="home1">
                <div class="section-inner">
                    <div class="slideshow-container">


                        <div class="mySlides fade">
                            <img src="image1.png" >
                        </div>

                        <div class="mySlides fade">
                            <img src="image2.png">
                        </div>
                        <br>

                        <div style="text-align:center">
                            <span class="dot"></span>
                            <span class="dot"></span>

                        </div>
                    </div>
                    <script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); 
}
</script>
                </div>
            </section>
            <section id="vision">
                <div class="section-inner">
        
                    <h1><strong>Vision</strong></h1>
                    <br>
                    <p>Women in Entrepreneurship's goal is to enhance the
                        knowledge and provide the 
                        opportunities<br> for women to develop their entrepreneurial
                        skills. We will host 
                        speakers, panel  discussions,<br> small group talks, and
                        networking opportunities 
                        for women to increase their professional<br> capacity and
                        develop a support system.
                        We will provide  cross disciplinary perspectives <br>for
                        collaboration to take flight.
                        Women in Entrepreneur strivesto become a model <br>for
                        other universities and a 
                        resource for all women entrepreneurs. </p>
                    <br>
                    <br>
                    <h1 ><strong >Mission</strong></h1>
                    <br>
                    <p>Our mission is to educate, inspire and nurture women
                        business owners<br> and
                        entrepreneurs worldwide on how to go global so they can<br>
                        run healthier businesses and create a new future for
                        <br> themselves, their families and their community.</p>
                </div>
            </section>
        </main>
        
    </body>
</html>