<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cards</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/learning.css">
</head>

<body class="bg-light antra">
  <div class="content">
    <h1 class="bg-light">Learnings</h1>
    
    <div class="card">
      <div class="front" style="background-image: url('images/agri final.jpg')">
        <p>Agriculture</p>
      </div>
      <div class="back">
        <div class="container">
          <div>
            <u>
              <h5><a href="/agriculture">Cultivating Ideas for growth</a></h5>
            </u>
            <hr>
          <p> <strong>Training</strong> </p>
          <span>Duration :- 6 - 8 months</span>
          <a href="https://kvk.icar.gov.in/">SCHEME</a>
          <button class="button">Learn More</button>
          </div>
        </div> 
      </div>
    </div>

    <div class="card">
      <div class="front" style="background-image: url('images/jwellery.jpg')">
        <p>Handicraft & Jewelry</p>
      </div>
      <div class="back">
        <div class="container">
          <div>
            <u>
              <h5> <a href="/handcraftandjwellery">Crafting Your Curiosity</a></h5>
            </u>
            <hr>
          <p> <strong>Training</strong> </p>
          <p>Duration :- 2 - 4 months</p>
          <a href="http://www.handicrafts.nic.in/schemes.aspx">SCHEME</a>
          <button class="button">Learn More</button>
          </div>
        </div> 
      
      </div>
    </div>

    <div class="card">
      <div class="front" style="background-image: url('images/herbal.webp')">
        <p>Herbal Beauty Products</p>
      </div>
      <div class="back">
        <div class="container">
          <div>
            <u>
              <h5><a href="herbalbeautyproducts">Heart Of PerfectHealth</a></h5>
            </u>
            <hr>
          <p> <strong>Training</strong> </p>
          <p>Duration :- 2 - 4 months</p>
          <a href="https://rmherbals.in/entrepreneur-development-program-herbal-beauty-care-products">SCHEME</a>
          <button class="button">Learn More</button>
          </div>
        </div> 
      
      </div>
    </div>

    <div class="card">
      <div class="front" style="background-image: url('images/food.jpg')">
        <p>Home Made Food Products</p>
      </div>
      <div class="back">
        <div class="container">
          <div>
            <u>
              <h5><a href="/homemadefoodproducts">The taste that rhymes with your cravings and health</a></h5>
            </u>
            <hr>
          <p> <strong>Training</strong> </p>
          <p>Duration :- 1 - 2 months</p>
          <a href="https://www.pfionline.com/government-subsidy-for-small-food-business-in-india/">SCHEME</a>

          <button class="button">Learn More</button>
          </div>
        </div> 
      
      </div>
    </div>

    <div class="card">
      <div class="front" style="background-image: url('images/clothes final.jpeg')">
        <p>Regional Clothes</p>
      </div>
      <div class="back">
        <div class="container">
          <div>
            <u>
              <h5><a href="/clothes">Divided by regions, United by fashion</a></h5>
            </u>
            <hr>
          <p> <strong>Training</strong> </p>
          <p>Duration :- 2 - 3 months</p>
          <a href="http://texmin.nic.in/schemes">SCHEME</a>
          <button class="button">Learn More</button>
          </div>
        </div> 
      
      </div>
    </div>

    <div class="card">
      <div class="front" style="background-image: url('images/computer.jpg')">
        <p>Basic Computer Knowledge</p>
      </div>
      <div class="back">
        <div class="container">
          <div>
            <u>
              <h5><a href="/basiccomputerknowledge">The power to be your Best</a></h5>
            </u>
            <hr>
          <p> <strong>Training</strong> </p>
          <p>Duration :- 3 - 4 months</p>
          <a href="https://www.nielit.gov.in/delhi/content/it-masses-scheme-women">SCHEME</a>
          <button class="button">Learn More</button>
          </div>
        </div> 
      </div>
    </div>
    <h1 class="heading bg-light">RAISE FOR FUNDS</h1>
      <a class="card1" href="/angelholders">
        <div class="front" style="background-image: url('images/angel.jpg')">
          <p>Angel Investor</p>
        </div>
      </a>
      <a class="card1" href="/crowdfund">
        <div class="front" style="background-image: url('images/crowd.jpg')">
          <p>Crowdfunding Support</p>
        </div>
      </a>
      <a class="card1" href="/loangovt">
        <div class="front" style="background-image: url('images/loan.jpg')">
          <p>Loans under Government schemes</p>
        </div>
      </a>
      <a class="card1" href="/smallbusinessloans">
        <div class="front" style="background-image: url('images/smbloan.jpg')">
          <p>Small business loans from NBFCs, MFIs</p>
        </div>
      </a>

  </div>
</body>

</html>