<%- include('./partials/header'); -%>
<%- include('./partials/errorMsg'); -%>
<!Doctype Html>  
<Html>     
<Head>      
<Title>     

</Title>  
</Head>  
<Body>  
    <div class="welcome-text">
        <h1 style=" background-image: linear-gradient(to right,#06fffb,#9c10ff);;text-align:center;">Raise your Funds</h1>
        <h2 style="color:rgb(170, 39, 153);text-align:center;">Small business loans from NBFCs, MFIs</h2>
        <h4>If you are new to lending and do not have a financial history or maintain any credit score, then it shall become difficult to get loans from private or public sector banks. By contacting Non-banking Financial Companies (NBFCs) and Micro Finance Institutions (MFIs) you shall get business loans for your Start-up based on your requirements without having a credit score or financial history. The interest rates offered by NBFCS and MFIs are comparatively higher, as compared to PSU banks.</h4>
        <h3 style="color:rgb(170, 39, 153);text-align:left;">The Top NBFCs in India</h3>
        <p><b><a href="https://www.pfcindia.com/" >Power Finance Corporation Limited</a></b> &nbsp;&nbsp;Power Finance Corporation Limited is known to provide financial assistance to different power projects in the country</p>
        <p><b><a href="https://www.mahindrafinance.com/" > Mahindra & Mahindra Financial Services Limited</a></b>&nbsp;MMFSL is one of the most renowned organizations and has two affiliates offering Insurance services and rural housing financial services.</p>
        <p><b><a href="https://www.ltfs.com/" >L & T Finance Limited</a></b>&nbsp;&emsp;&emsp;L & T Finance Limited is a strong player in the non-banking financial sector offers funding services to different sectors like trade, industry, agriculture</p>
        <p><b><a href="https://www.tatacapital.com/tcfsl.html" > Tata Capital Financial Services Ltd</a></b>&nbsp;TCFS describes itself as a one-stop financial service provider that caters to the diverse needs of retail, corporate and institutional customers across businesses.</p>
        <h3 style="color:rgb(170, 39, 153);text-align:center;"> <a href="https://www.nelito.com/blog/the-top-10-nbfcs-in-india.html" >FURTHER REFERENCE</a></h3>
</Body>  
</Html>  
